@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300;400;600;700;900&family=Roboto+Slab:wght@300;400;500;600;800;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
font-family: 'Roboto Slab', serif;
    /* font-family: 'Noto Sans Georgian', sans-serif; */

}

/* bootstrap */
.row{
    margin-right:0%
}
